body {
    margin: 0%;
    padding: 0%;
    height: 100vh;
    font-family: Arial, sans-serif;
}
html{
    scroll-behavior: smooth;
}
.main-container {
    width: 100vw;
    min-height: 100vh;
    /* background-color: #072227; */
    background: linear-gradient(to right, #072227,#001C30, #040D12, #001C30);
}

/*  header styling  */
.header {
    width: 100%;
    height:6%;
    background: linear-gradient(to left, #072227, #040D12, #001C30);
    font-size: 30px;
    text-align:right;
    z-index: 1000;
    position: fixed;
    padding: 15px 0;
}

.file-name {
    color: #EDDFE0;
    font-size: 35px;
    text-align: center;
    margin-right: 350px;
    font-weight: 80px;
}

.navbar {
    font-size: 20px;
    color: #EDDFE0; 
    text-decoration: none;
    margin: 0 20px;
    margin-left: 100px; 
    transition: .3s; 
    gap: 20%;
}

.navbar:hover{
    color: #072227;
}

/* home container styling   */
.Home-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 500px;
    padding-top: 80px;
}
h3  {
    color: #FBFBFB;
    margin-left: 50px;
}
h2{
    color: FBFBFB;
    margin-left: 50px;
    color: #35858B;
}
 
p {
    font-size: 20px;
    color: #EDDFE0;
    margin-left: 50px;
    max-width: 600px;
}

button {
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: 400;
    background: linear-gradient(#35858B 50%, #4FBDBA 100%);
    background-color: #35858B;
    border-radius: 2rem;
    margin-left: 50px;
    border: none;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0 10px #4FBDBA;
}
.third-row {
    background-color: #072227;
    display: flex;
    flex-direction: row;
}

.profile-logo {
    height: 350px;
    width: 350px;
    margin-left: 150px;
    margin-top: 90px;
}
h3 {
    font-size: 1.5rem;
    font-weight: 10px;
}

/*  About styling  */

.About-container{
    height:auto;
    /* background-color:#072227; */
    background: linear-gradient(to right, #072227,#001C30, #040D12, #001C30);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h4 {
    color:black;
    font-size: 25px;
    text-align: left;
    margin-top: 40px;
    /* display: flex;
    float: 30px; */
}
.about-title{
    font-size: 35px ;
    color:#EDDFE0;
    
}
.info{
    margin-bottom: 60px;
    margin-left: 30px;
}
.about-info{
    color:black;
    font-size: 25px;
    width: 700px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    margin-right:100px;
}
#menu-icon {
    font-size: 20px;
    color: #EDDFE0;
}

/*  project styling  */

 .Projects-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px;
}

.project-title {
    font-size:35px;
    font-weight: bold;
    color: #EDDFE0;
    margin-bottom: 40px;
    
}

.first-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
    margin-bottom: 20px;
}
.second-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
    margin-bottom: 20px;
}
.project-card {
    width: 300px;
    height: 250px;
    color: #EDDFE0;
    background: linear-gradient(to right, #072227,#001C30, #040D12, #001C30);
    /* background:#072227; */
    border-radius: 12px;
    box-shadow: 0px 4px 10px #4FBDBA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px #35858B;
}

img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.project-card a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}
.project-img{
    height:160px;
    width: 180px;
}
/* contact styling */
.contact-container {
    height:auto;
    color: white;
    font-size: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.contact-title{
    font-size: 35px ;
    color:#EDDFE0;
}
.contact-info {
    font-size: 18px;
}
.contact-info i  {
    margin-right: 10px;
    color: white;
}
 .email{
    text-decoration: none;
    color: white;
 }
 .github{
    text-decoration: none;
    color: white;
 }
 .linkedin{
    text-decoration: none;
    color: white;
 } 